<header>
  <% if (browser.attr('currentPane') > 0) { %>
    <%== can.route.link('Back', { page: 'library', pane: browser.attr('currentPane') - 1 }, { class: 'back' }) %>
  <% } %>
  <a class="close" href="#!">Close</a>
  <h1><%= browser.attr('title') %></h1>
</header>

<div class="browser"
     data-current-pane="<%= browser.attr('currentPane') %>"
     style="left: -<%= browser.attr('currentPane') * 20 %>em;">

  <panel show="root" style="left: 0;"></panel>

</div>
