<header>
  <a class="close" href="#!">Close</a>
  <h1>Library</h1>
</header>
<div class="browser" data-pane="<%= browser.attr('pane') %>">
  <div class="root"></div>
  <%# can.view.render('views/library/root.ejs', {}) %>
</div>
