<header>
  <a class="library" href="#!library">Library</a>
  <h1>Queue</h1>
</header>
<ol class="queue">
  {{#queueSongs}}
    <li id="{{id}}" data-pos="{{pos}}" class="{{#playing}}playing{{/playing}}">
      <p class="title">{{title}}</p>
      <p class="artist">{{artist}}</p>
      <p class="length">{{formattedLength}}</p>
    </li>
  {{/queueSongs}}
</ol>
