<ol id="queue">
  <% list(queueSongs, function(song) { %>
    <li id="<%= song.attr('id') %>" <%= song.attr('playing') ? 'class="playing"' : '' %>>
      <p class="title"><%= song.attr('title') %></p>
      <p class="artist"><%= song.attr('artist') %></p>
    </li>
  <% }) %>
</ol>
