<div class="scrubber">
  {{#if status.showTrackProgress}}
    <div class="time elapsed">{{status.formattedElapsedTime}}</div>
    <div class="time total">{{status.formattedTotalTime}}</div>
  {{else}}
    <div class="time elapsed">--:--</div>
    <div class="time total">--:--</div>
  {{/if}}
  <div class="track">
    {{#if status.showTrackProgress}}
      <div class="marker" style="left: {{status.markerPosition}}%"></div>
    {{/if}}
  </div>
</div>
<nav class="controls">
  <button data-command="previous">previous</button>
  {{#if status.playing}}
    <button data-command="pause">pause</button>
  {{else}}
    <button data-command="play">play</button>
  {{/if}}
  <button data-command="stop">stop</button>
  <button data-command="next">next</button>
</nav>
