<div id="controls">
  <button data-command="previous">previous</button>
  <button data-command="play">play</button>
  <button data-command="pause">pause</button>
  <button data-command="stop">stop</button>
  <button data-command="next">next</button>
</div>
