<!DOCTYPE html>
<html>
  <head>
    <title>MPD Client</title>
  </head>

  <body>

    <script type="text/x-handlebars" data-template-name="application">
      <h1>MPD Client</h1>
      {{ outlet }}
    </script>

    <script type="text/x-handlebars" data-template-name="queue">
      <h2>Queue</h2>
      <ul>
      {{#each song in controller}}
        <li>{{ song.artist }} - {{ song.title }}</li>
      {{/each}}
      </ul>
    </script>

    <%= javascript_tag 'mpd-client' %>
  </body>
</html>
