<!DOCTYPE html>
<html>
  <head>
    <title>MPD Client</title>
    <%= stylesheet_tag 'mpd-client' %>
  </head>

  <body>

    <h1>MPD Client</h1>

    <div id="queue"></div>

    <div id="transport"></div>

    <%= javascript_tag 'mpd-client' %>
  </body>
</html>
