<!DOCTYPE html>
<html>
  <head>
    <title>MPD Client</title>
    <%= stylesheet_tag 'mpd-client' %>
  </head>

  <body>

    <script type="text/x-handlebars" data-template-name="application">
      <h1>MPD Client</h1>
      {{ outlet }}
      {{ render "transport" }}
    </script>

    <script type="text/x-handlebars" data-template-name="queue">
      <h2>Queue</h2>
      <ul id="queue">
      {{#each controller}}
        <li {{bindAttr class="playing"}}>{{ artist }} - {{ title }}</li>
      {{else}}
        <li>Play queue empty</li>
      {{/each}}
      </ul>
    </script>

    <script type="text/x-handlebars" data-template-name="transport">
      <div id="controls">
        <button {{ action "sendControl" "previous" }}>previous</button>
        <button {{ action "sendControl" "play"     }}>play</button>
        <button {{ action "sendControl" "pause"    }}>pause</button>
        <button {{ action "sendControl" "stop"     }}>stop</button>
        <button {{ action "sendControl" "next"     }}>next</button>
      </div>
    </script>

    <%= javascript_tag 'mpd-client' %>
  </body>
</html>
