<!DOCTYPE html>
<html>
  <head>
    <title>MPD Client</title>
    <%= stylesheet_tag 'mpd-client' %>
  </head>

  <body>

    <h1>MPD Client</h1>

    <div id="queue"></div>

    <div id="transport"></div>

    <script type="text/mustache" id="queueTemplate">
      <h2>Queue</h2>
      <ul id="queue">
      {{#songs}}
        <li{{#playing}} class="playing"{{/playing}}>{{ artist }} - {{ title }}</li>
      {{/songs}} {{^songs}}
        <li>Play queue empty</li>
      {{/songs}}
      </ul>
    </script>

    <script type="text/mustache-handlebars" id="transportTemplate">
      <div id="controls">
        <button>previous</button>
        <button>play</button>
        <button>pause</button>
        <button>stop</button>
        <button>next</button>
      </div>
    </script>

    <%= javascript_tag 'mpd-client' %>
  </body>
</html>
