<!DOCTYPE html>
<html>
  <head>
    <title>MPD Client</title>
    <%= stylesheet_tag 'mpd-client' %>
  </head>

  <body>

    <script type="text/x-handlebars" data-template-name="application">
      <h1>MPD Client</h1>
      {{ outlet }}
      {{ render "controls" }}
    </script>

    <script type="text/x-handlebars" data-template-name="queue">
      <h2>Queue</h2>
      <ul id="queue">
      {{#each controller}}
        <li {{bindAttr class="playing"}}>{{ artist }} - {{ title }}</li>
      {{else}}
        <li>Play queue empty</li>
      {{/each}}
      </ul>
    </script>

    <script type="text/x-handlebars" data-template-name="controls">
      <div id="controls">
        <button {{ action "previous" }}>Previous</button>
        <button {{ action "play" }}>Play</button>
        <button {{ action "pause" }}>Pause</button>
        <button {{ action "stop" }}>Stop</button>
        <button {{ action "next" }}>Next</button>
      </div>
    </script>

    <%= javascript_tag 'mpd-client' %>
  </body>
</html>
