<div id="transport" ng-controller="transport">
  <div class="scrubber">
    <div class="time elapsed">{{ elapsedTime | formatLength }}</div>
    <div class="time total">{{ totalTime | formatLength }}</div>
    <div class="track">
      <div class="marker" style="left: {{ markerPosition() }}%" ng-if="!stopped()"></div>
    </div>
  </div>
  <nav class="controls">
    <button ng-click="sendCommand('previous')">previous</button>
    <button ng-click="sendCommand('pause')" ng-if="playing()">pause</button>
    <button ng-click="sendCommand('play')" ng-if="!playing()">play</button>
    <button ng-click="sendCommand('stop')">stop</button>
    <button ng-click="sendCommand('next')">next</button>
  </nav>
</div>
