#library
  background: white
  display: none
  position: absolute
  top: 0
  padding: 2.5em 0 0
  height: 100%
  width: 100%
  z-index: 2
  &.show
    display: block
  header
    @extend .header
    a.close
      position: absolute
      right: 10px
      top: 8px
      @include button
