#queue
  height: 100%
  overflow: auto
  padding: 2.5em 0 5.625em
  header
    z-index: 1
    @extend .header
    button.library
      position: absolute
      left: 10px
      top: 8px
      @include button
  ol
    list-style: none
    margin: 0
    padding: 0
    counter-reset: index
  p
    margin: 0
  .artist
    font-size: 0.8em
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  .title
    font-weight: bold
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  .length
    position: absolute
    font-size: 0.75em
    padding: 0.8em 0
    right: 10px
    top: 10px
  li
    position: relative
    padding: 10px
    padding-right: 42px
    border-bottom: 1px solid #ddd
    counter-increment: index
    &:before
      float: left
      padding: 0.5em 1em 0.5em 0
      content: counter(index,decimal-leading-zero)
    &.playing
      .title
        color: $highlight
      &:before
        font-weight: bold
      &:after
        @extend .icon
        position: absolute
        font-size: 1.25em
        right: 10px
        top: 10px
        padding: 0.3em
        content: "playing"
      .length
        display: none
