@font-face
  font-family: 'icomoon'
  src: url('icomoon.eot')
  src: url('icomoon.eot?#iefix') format("embedded-opentype"), url('icomoon.ttf') format("truetype"), url('icomoon.woff') format("woff"), url('icomoon.svg#icomoon') format("svg")
  font-weight: normal
  font-style: normal


.icon
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Enable Ligatures ================
  -webkit-font-feature-settings: "liga"
  -moz-font-feature-settings: "liga=1"
  -moz-font-feature-settings: "liga"
  -ms-font-feature-settings: "liga" 1
  -o-font-feature-settings: "liga"
  font-feature-settings: "liga"
  /* Better Font Rendering ===========
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

[class^="icon-"], [class*=" icon-"]
  @extend .icon

.icon-music:before
  content: "\e600"

.icon-fast-backward:before
  content: "\e602"

.icon-play:before
  content: "\e604"

.icon-pause:before
  content: "\e605"

.icon-stop:before
  content: "\e606"

.icon-fast-forward:before
  content: "\e607"

.icon-eject:before
  content: "\e609"

.icon-chevron-left:before
  content: "\e60a"

.icon-chevron-right:before
  content: "\e60b"

.icon-heart:before
  content: "\e60c"

.icon-star:before
  content: "\e60d"

.icon-star-empty:before
  content: "\e60e"

.icon-ok:before
  content: "\e60f"

.icon-remove:before
  content: "\e610"

.icon-plus:before
  content: "\e611"

.icon-minus:before
  content: "\e612"

.icon-chevron-up:before
  content: "\e613"

.icon-chevron-down:before
  content: "\e614"

.icon-cog:before
  content: "\e615"

.icon-info:before
  content: "\e616"

.icon-rocket:before
  content: "\e617"

.icon-headphones:before
  content: "\e601"

.icon-volume-off:before
  content: "\e603"

.icon-volume-down:before
  content: "\e608"

.icon-volume-up:before
  content: "\e618"

.icon-play-sign:before
  content: "\e619"
