<ol class="albums">
  <% list(albums, function(album) { %>
    <li id="<%= album.attr('id') %>">
      <%== can.route.link(album.attr('title'), {
        page: 'library',
        show: 'songs',
        artist: album.attr('artist'),
        album: album.attr('album')
      }) %>
    </li>
  <% }) %>
</ol>
