<ol class="artists">
  <% list(items, function(artist) { %>
    <li id="<%= artist.attr('id') %>">
      <%== can.route.link(artist.attr('name'), {
        page: 'library',
        show: 'albums',
        artist: artist.attr('name')
      }) %>
    </li>
  <% }) %>
</ol>
