<li><%== can.route.link('Artists', { page: 'library', mode: 'artists' }) %></li>
<li><%== can.route.link('Albums', { page: 'library', mode: 'albums' }) %></li>
<li><%== can.route.link('Songs', { page: 'library', mode: 'songs' }) %></li>
