<ul class="root">
  <li><%== can.route.link('Artists', { page: 'library', show: 'artists' }) %></li>
  <li><%== can.route.link('Albums', { page: 'library', show: 'albums' }) %></li>
  <li><%== can.route.link('Songs', { page: 'library', show: 'songs' }) %></li>
</ul>
